* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    /*color: black;*/
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.main {
    margin-top: 37px;
    overflow: hidden;
    background: #e0e0e0;
}

.left {
    width: 25%;
    float: left;
}

.ava-container {
    margin-bottom: 40px;
}

.background-ava {
    overflow: hidden;
    height: 300px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 100%;
    min-height: 100%;
}

.ava-container {
    position: relative;
    overflow: hidden;
}

.main-ava {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    transform: translate(-50%, -50%);
}

.change-information {
    margin-bottom: 20px;
    overflow: hidden;
}

button#change-info {
    border: none;
    padding: 10px;
    font-size: 17px;
    background: #03A9F4;
    color: white;
    float: right;
}

#change-info:hover {
    background: #005F6B;
}

.change-info {
    border: 1px solid #d0cccc;
    padding-top: 30px;
    display: none;
    float: right;
    /* overflow: hidden; */
}

.change-info form {
    overflow: hidden;
    padding: 0px 10px;
}

label.label {
    display: block;
    width: 100%;
    float: left;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: calibri;
}

.change-info form input {
    display: block;
    width: 100%;
    float: left;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: calibri;
}

input#submit-change {
    /* display: inline-block; */
    width: 100px;
    float: right;
    margin-top: 20px;
    border: none;
    background: #10C1D8;
    color: white;
    font-size: 20px;
}

#submit-change:hover {
    background: #005F6B;    
}

.following-container {
    overflow: hidden;
    /* padding: 10px; */
    padding: 0px;
}

.following-container h4 {
    padding: 10px;
    font-size: 20px;
    font-family: calibri;
}

.following {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.person-follow {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.person-follow a {
    display: block;
    height: 100%;
    overflow: hidden;
    background: url('../images/img6.jpg');
    background-position: 50%;
    background-size: cover;
}

.all-post-hihi {
    border: none;
    border-radius: 0px;
}

.follow-option {
    overflow: hidden;
}

.follow-option button {
    float: right;
    padding: 5px 10px;
    border: none;
    outline: none;
    color: white;
    font-family: calibri;
    font-size: 20px;
}

button#unfollow {
    background: #03A9F4;
}

button#follow {
    background: #17cc17;
    display: none;
}

#follow:hover {
    background-color: green;
}

#unfollow:hover {
    background-color: #058D9E;
}

.upload-option {
    margin-bottom: 20px;
    background: white;
    border: 1px solid #d0d0d0;
    padding: 10px;
}

input#upload-bg {
    padding: 6px 10px;
    border: none;
    outline: none;
    background: #03A9F4;
    color: white;
    font-size: 15px;
    font-family: calibri;
}

input#upload-bg:hover {
    background-color: #058D9E;
}